.wikiContent-container {
  margin: 10px 20px;

  .title {
    font-size: 26px;
    color: #34404b;
    font-weight: 200;
    line-height: 1.5;
  }

  .message {
    font-size: 14px;
    color: #758392;
  }

}