<!-- <header> -->
    <img class="logo" src="">
    <address>
        <span>团队名</span><br><em></em><i>正在为您服务</i>
    </address>
    <nav class="pull-right">
        <a class="pure-button button-xsmall" title="全屏打开" target="_blank" style="display: <# echo $isMobile || "FFF"; #>" href="<# echo location.href #>"><span class="fa fa-share"></span></a>
        <a class="pure-button button-xsmall" title="最小化" href="javascript:window.parent.postMessage(JSON.stringify({action:'minimize'}), '*');"><span class="fa fa-angle-double-down"></span></a>
    </nav>
<!-- </header> -->