.SmsMessage{
  .bubble{
    background-image:url('./images/messages/iconfont-phone.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;

    padding-right:22px;
    background-position: center right;
  }
}

.SmsMessage.remote {
  .bubble {
    padding-right: 5px;
    padding-left: 22px;
    background-position: center left;
  }
}

.smsSending, .smsSent {
  float: right;
  margin: 10px 0 0 5px;
}

.smsSent {
  color: #9CC96B;
}
