<div style="border-radius: 50%; width: 50px; height: 50px; box-shadow: rgba(0, 0, 0, 0.498039) 0 0 10px; background-color:#<# echo $web['title_bg_color']||"00A4F5"; #>;color:#<# echo $web['title_txt_color']||"FFF"; #>;float:<# echo $web['direction']=='bottom-right'?'right':'left' #>;">
    <img src=<# echo $web['iconSrc'] || "//im.usingnet.net/build/v2/image/contact3.png"; #> alt="" style="width: 30px; height: 30px; display: block; margin: 0 auto; margin-top: 12px;">
</div>
<iframe src="about:blank" style="border: 0;"></iframe>

