<div class="from-container">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>请留下您的联系方式：</legend>
            <label for="contact_email">电子邮件</label>
            <input class="pure-input-1" required="required" type="email" name="email" id="contact_email" placeholder="name@example.com"/>

            <label for="contact_phone">联系电话</label>
            <input class="pure-input-1" required="required" type="text" name="phone" id="contact_phone" placeholder="13800000000" />

            <button type="button" class="pure-button pure-input-1 pure-button-primary">提交</button>
        </fieldset>
    </form>
</div>
<div class="contact_background">

</div>