<img src="{$teamLogo$}" style="width: 38px; height: 38px; margin: 5px; float: left;">
<div style="height: 38px; line-height: 19px; float: left; color: #fff; margin: 5px;">
    <span>{$teamName$}</span>
    <br>
    <small>正在为您服务</small>
</div>
<a title="最小化" href="javascript:usingnetCrossDomain.postMessage({action: 'minimize'}, document.referrer, window.parent);" style="width: 25px; height: 20px; display: block; float: right; margin-left: 10px; cursor: pointer; text-decoration: none; display: {$iconDisplay$};"><span style="color: #fff; font-size: 18px;">－</span></a>
<a title="最大化" href="{$url$}" target="_blank" style="width: 15px; height: 20px; display: block; float: right; cursor: pointer; text-decoration: none; display: {$iconDisplay$};"><span style="color: #fff; font-size: 18px;">ㅁ</span></a>

<!-- <img src="//im.usingnet.net/build/v1/image/minimize.png" style="width: 25px; height: 20px; display: block; float: right; margin-left: 10px; cursor: pointer;">
<img src="//im.usingnet.net/build/v1/image/maximize.png" style="width: 15px; height: 20px; display: block; float: right; cursor: pointer;"> -->
