.arrows {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #EBF4FD;
  top: 13px;
  left: -11px;
  margin-top: -15px;
  border-width: 5px 10px 0 10px;
}