.china_map_tools_bar {
  z-index: 9999;
  position: absolute;
  height: 16px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  color: #FFF;
  background: #000;
  border: 1px #FFF solid;
  display: none;
}