.left-area{
    width: 68%;
    margin-left: 2%;
    margin-right: 4%;
    float:left;
}

.right-area{
    width: 26%;
    float:right;
}

.headlines{
    padding-bottom: 60px;
    border-bottom: 1px #DDD solid;
}

.headlines .title h3{
    margin: 30px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px #EEE solid;
}

.headlines .article{
    font-size: 14px;
}

.article-area h3{
    margin: 30px 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px #EEE solid;
    padding-bottom: 5px;
}

.article-area h4 {
    margin: 10px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.article-area h4 a {
    color: #555;
}

.article-list{
    width: 50%;
    float:left;
    height: 200px;
    padding-right: 20px;
    box-sizing: border-box;
}

.article-area ul{
    padding:0;
}

.article-area li{
    list-style: none;
}

.article-area li a{
    text-decoration: none;
}

.article-area li a:hover{
    text-decoration: underline;
}